@font-face {
    font-family: 'Unbounded';
    src: url('assets/fonts/Unbounded-Regular.eot');
    src: url('assets/fonts/Unbounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Unbounded-Regular.woff2') format('woff2'),
        url('assets/fonts/Unbounded-Regular.woff') format('woff'),
        url('assets/fonts/Unbounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Regular.eot');
    src: url('assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('assets/fonts/Montserrat-Regular.woff') format('woff'),
        url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('assets/fonts/Unbounded-Medium.eot');
    src: url('assets/fonts/Unbounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Unbounded-Medium.woff2') format('woff2'),
        url('assets/fonts/Unbounded-Medium.woff') format('woff'),
        url('assets/fonts/Unbounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Medium.eot');
    src: url('assets/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('assets/fonts/Montserrat-Medium.woff') format('woff'),
        url('assets/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

